body{
    /* min-width:305px; 
   width: auto !important; 
   width:305px;   /*  Sets minimal browser size, */       
}
.item{
 height: 100%;
 width : 100%;
}
.navbar{
    margin-bottom: 0px;
}
/* CSS for jumbotron colors on each individual html page*/
.jumbotron {
    background: #2d628f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #2d628f, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #2d628f, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #2d628f, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #2d628f, transparent); /* Standard syntax 479b99 */ 
}
.jumbotron.gapps{
    background: #2d628f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #3cba54, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #3cba54, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #3cba54, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #3cba54, transparent); /* Standard syntax 479b99 */ 
}
.jumbotron.slack{
    background: #2d628f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #bc521b, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #bc521b, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #bc521b, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #bc521b, transparent); /* Standard syntax 479b99 */ 
}
.jumbotron.msimagine{
    background: #2d628f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #52344f, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #52344f, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #52344f, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #52344f, transparent); /* Standard syntax 479b99 */ 
}
.jumbotron.pandora{
    background: #2d628f; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #479b99, transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #479b99, transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #479b99, transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #479b99, transparent); /* Standard syntax 479b99 */ 
}
.container .jumbotron, .container-fluid .jumbotron{

     border-radius: 0px;
}
h1{
    margin-top: 50px;
    margin-bottom: 15px;
}
h2{
    padding-left: 20px;
}
h3{
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    color: rgba(34,110,147,1);
}
.welcometext{
    font-size: 16px;
}
.col-md-12.index{
    padding-bottom: 20px;
}


/* Home Links table */
@media (max-width: 415px) {

    img {
        width: 100%;
        max-width: 100%;
    }

    .subtext{
    display: none;
    }       
}
@media (min-width: 416px) and (max-width: 1920px) {
  
    img {
        width: 100%;
        max-width: 100%;
    }
    
    hr{
        width: inherit;
    }  
}




